@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-size: 20px;
}

h1 {
  font-size: 64px;
  font-weight: 900;
}

a {
  color: #148aff;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 8px;
  transition: 180ms background-color ease;
}

a:hover {
  background-color: #148aff24;
}

.built-with {
  position: absolute;
  bottom: 40px;
  right: 40px;
  color: #5b6a77;
  font-size: 14px;
}
